html{
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.75;
  background: #111;
}

.type{
  h1{
    font-size: 1.8em;
    line-height: 1.4;
  }
  h1,h2,h3,h4,h5,h6{
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
  }
  h1 + p{
    padding-top: 0px;
  }
  p{
    padding-top: 20px;
  }
  br{
    display: none;
  }
  img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
}

strong{
  font-weight: bold;
}
em{
  font-style: italic;
}
